<div class="jumbotron bg-white">
	<div class="container">
		<div class="jumbotron-heading display-3">Pinned Repositories</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-4 mb-4" *ngFor="let repo of repos | async">
			<div class="card h-100">
				<div class="card-body">
					<h2 class="card-title"><a href="{{ repo.href }}">{{ repo.name }}</a></h2>
					<p class="card-text">
						{{ repo.description }}<br/>
						<span class="badge badge-pill" [ngClass]="getBadgeClass(i)"
							*ngFor="let lang of repo.language; let i = index">
							{{ lang }}
						</span>
					</p>
					<a href="{{ repo.href }}" class="btn btn-outline-primary btn-sm">View</a>
				</div>
			</div>
		</div>
	</div>
</div>