<div class="container">
	<h1 class="display-1">HTTP 404</h1>
	<blockquote class="blockquote">
		<p>
			The HTTP 404, 404 Not Found, 404, Page Not Found, or Server Not Found error message is a Hypertext Transfer
			Protocol (HTTP) standard response code, in computer network communications, to indicate that the browser was
			able to communicate with a given server, but the server could not find what was requested.
		</p>
		<p>
			When communicating via HTTP, a server is required to respond to a request, such as a web browser request for
			a web page, with a numeric response code and an optional, mandatory, or disallowed (based upon the status
			code) message. In the code 404, the first digit indicates a client error, such as a mistyped Uniform
			Resource Locator (URL). The following two digits indicate the specific error encountered. HTTP's use of
			three-digit codes is similar to the use of such codes in earlier protocols such as FTP and NNTP. At the HTTP
			level, a 404 response code is followed by a human-readable "reason phrase". The HTTP specification suggests
			the phrase "Not Found" and many web servers by default issue an HTML page that includes both the 404 code
			and the "Not Found" phrase.
		</p>
		<p>
			A 404 error is often returned when pages have been moved or deleted. In the first case, it is better to
			employ URL mapping or URL redirection by returning a 301 Moved Permanently response, which can be configured
			in most server configuration files, or through URL rewriting; in the second case, a 410 Gone should be
			returned. Because these two options require special server configuration, most websites do not make use of
			them.
		</p>
		<p>
			404 errors should not be confused with DNS errors, which appear when the given URL refers to a server name
			that does not exist. A 404 error indicates that the server itself was found, but that the server was not
			able to retrieve the requested page.
		</p>
		<footer class="blockquote-footer">From Wikipedia: <cite title="Wikipedia:HTTP_404"><a
					href="https://en.wikipedia.org/wiki/HTTP_404"
					target="_blank">https://en.wikipedia.org/wiki/HTTP_404</a></cite></footer>
	</blockquote>
	<a href="/" class="btn btn-primary">Back to home</a>
</div>