<app-navbar></app-navbar>

<div class="main container text-white text-center mt-5">
	<div class="row">
		<div class="col-sm-12">
			<img class="avatar" src="assets/img/avatar.png" />
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-sm-12">
			<h2 class="mb-4">Helloworld</h2>
			<a class="btn btn-info mx-1" href="https://twitter.com/helloworld_twt" target="_blank">View in Twitter</a>
			<a class="btn btn-success mx-1" href="https://github.com/LYZhelloworld" target="_blank">View in GitHub</a>
		</div>
	</div>
</div>