div.jumbotron {
	background-image: linear-gradient(rgb(61, 58, 143), rgb(88, 218, 247));
}

.usage-example {
	display: block;
	background-color: black;
	padding: 10px;
	border-radius: 5px;
	color: lime;
	overflow: hidden;
}