.avatar {
	width: 100%;
	max-width: 200px;
	height: auto;
	margin: 0 auto;
	display: block;
	border-radius: 50%;
	border: 5px solid #fff;
}

img.fadein {
	animation-name: fadein;
	animation-duration: 1s;
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 1s;
	-moz-animation-name: fadein;
	-moz-animation-duration: 1s;
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-moz-keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}
